{% extends 'base.html.twig' %}

{% block title %}Todolist{% endblock %}

{% block body %}

<h1>Todolist</h1>
<h2>Symfony Project <br> By Killian Herlant</h2>

<div>
    <a href="{{ path('app_users') }}">Go to project</a>
</div>

<a href="https://github.com/hrltKillian/">https://github.com/hrltKillian/</a>

{% endblock %}
