{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
<div>
    <a href="{{ path('app_home') }}">Home</a>
    <h1>Customers</h1>
    <a href="{{ path('app_users_new') }}">Add customer</a>
</div>

{% for user in users %}
    <h2>{{ user.username }}</h2>    
    <p>{{ user.task|length }}</p> 
    <a href="">Edit</a>
    <a href="">Delete</a>
{% endfor %}
{% endblock %}
